{{ define "content" }}

<div class="flex flex-col justify-center items-center container">
  <div class="mt-3 w-3/4">
    <label for="name">Search by Name:</label>
    <input type="search" name="name" placeholder="Search for names.."
      class="w-full text-base placeholder:italic placeholder:text-sm placeholder:text-gray-400 block rounded-lg border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 focus:outline-none s:text-sm sm:leading-6 hover:ring-3 hover:ring-inset hover:ring-indigo-600 hover:shadow-sm"
      hx-get="/user/search/" hx-trigger="input changed delay:500ms, search" hx-target="#result" hx-swap="outerHTML"
      hx-indicator=".htmx-indicator" />
  </div>
</div>

<div id="result"
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 pl-4 pr-4 justify-start items-start gap-4 mt-6">
  {{range .}}

  <div
    class="w-full space-y-4 relative bg-white dark:bg-slate-800 rounded-xl px-6 py-3 ring-1 ring-slate-900/5 shadow-xl hover:shadow-2xl"
    id="results">
    <div>
      <h3
        class="text-slate-900 dark:text-white mt-1 text-base font-semibold tracking-tight border-b dark:border-gray-100/10 border-gray-900/10">
        {{ .Name }}<br />
      </h3>
      <p class="flex text-slate-500 dark:text-slate-400 mt-2 mb-4 text-sm">
        {{ .Message }}<br />
      </p>
      <p class="text-slate-400 mt-2 mr-2 text-sm absolute bottom-[8px] right-[8px]">
        {{ .CreatedAt }}<br />
      </p>
    </div>
  </div>
  {{end}}
</div>
{{ end }}
