{{ define "content" }}

<div class="flex justify-center items-center h-screen container ">
    <div class="w-1/2 p-6 shadow-lg bg-white rounded-lg
                ">
        <h1 class="text-3xl block text-center font-semibold">
             Verification:
        </h1><hr class="mt-3">
        
            <form action="/verify"
                    method="put">
            <div class="col-span-2 gap-x-6">
                
           
                <div class="mt-3">
                    <label for="firstname"
                            class="block text-base mb-2">Verification Code:</label>
                    <input type="text" 
                            id="firstname" 
                            name="firstname"
                            placeholder="Enter your verification code..."
                            class=" w-full text-base  
                                    placeholder:italic placeholder placeholder:text-gray-400  block
                                    rounded-lg border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm
                                    ring-1 ring-inset ring-gray-300 
                                    focus:ring-2 focus:ring-inset focus:ring-indigo-600 focus:outline-none sm:text-sm sm:leading-6
                                    hover:ring-3 hover:ring-inset hover:ring-indigo-600 hover:shadow-sm">
                </div>
                
                <div class="mt-3 ">
                    <button 
                        type="submit" 
                        value="Submit" 
                        class="rounded-lg w-full bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm 
                                border-2 border-indigo-600 hover:text-indigo-600
                                hover:bg-transparent focus-visible:outline focus-visible:outline-2 
                                focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Verify</button>
                </div>
                </div>      
             </form>
          
    </div>
</div>


{{ end }}
