{{ define "content" }}

<div class="flex flex-1 justify-center items-center ">
			<div>
			<form action="/" 
				method="get"
				class="flex flex-col w-full"> 
				<label for="name">Search by Name:</label>
				<div class="flex flex-row">
					
					<div class="mt-2">
						<input 
						type="text" 
						id="q" 
						name="q" 
						placeholder="Search for names.." 
						class=" placeholder:italic placeholder placeholder:text-gray-400 text-slate-400 block
								rounded-full border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm
								ring-1 ring-inset ring-gray-300 
								focus:ring-2 focus:ring-inset focus:ring-indigo-600 focus:outline-none sm:text-sm sm:leading-6
								hover:ring-3 hover:ring-inset hover:ring-indigo-600 hover:shadow-sm"
						hx-get="/"
						hx-trigger="keyup changed delaiy:500ms"
						hx-traget="#result">
					</div>
				
				<div class="">
						<div class="mt-2">
							<div>
							<button 
								type="submit" 
								value="Submit" 
								class="rounded-full bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm 
								border-2 border-indigo-600 hover:text-indigo-600
								hover:bg-transparent focus-visible:outline focus-visible:outline-2 
								focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Search</button>
						
							</div>
						</div>
					</div>
				</div>
				</form> 
			</div>
		</div>

{{ end }}